{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}
{% block main %}
    <h2>Buy Stock</h2>
        <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Enter stock symbol" type="text">
            <input id="shares" name="shares" placeholder="number of shares" type="text" min="1">
            <div>
                <button class="btn btn-primary" type="submit">Buy now</button>
            </div>
        </div>
    </form>
{% endblock %}